:root{
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    --white: rgb(242, 239, 239);
}

body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #123456;
    color: var(--white);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    width: 800px;
    height: 700px;
    flex: 0 0 auto;
    border-radius: 10px;
    border: 2px solid var(--white);
    background-color: #0d2339;
    transition: transform 0.2s ease-in-out;
}

.score-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    border: 2px solid var(--white);
    background-color: #123456;
    padding: 10px 0;
}

.score-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 230px;
}

h1 {
    margin: 0;
    font-size: 30px;
    font-weight: 500;
    transition: transform 0.1s, color 0.1s;
}

.buttons {
    display: flex;
    gap: 35px;
}

button {
    width: 180px;
    height: 47px;
    border: 0;
    font-size: 24px;
    border-radius: 10px;
    background-color: var(--white);
    color: black;
    transition: transform 0.2s, background-color 0.15s;
}

.visual-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visual {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
    width: 240px;
    background-color: #123456;
    border-radius: 30px;
    border: 2px solid var(--white);
}

#timer {
    width: 70px;
    text-align: center;
    margin: 0 70px;
}

img {
    height: 190px;
    width: auto;
    opacity: 50%;
    transition: transform 0.2s;
}